<section class="imagens">
    <div class="grid mx-5">
        <div class="col-6">
            <div class="text-center p-8 border-round-sm bg-primary font-bold">6</div>
        </div>
        <div class="col-6">
            <div class="text-center p-8 border-round-sm bg-primary font-bold">6</div>
        </div>
        <div class="col-6">
            <div class="text-center p-8 border-round-sm bg-primary font-bold">6</div>
        </div>
        <div class="col-6">
            <div class="text-center p-8 border-round-sm bg-primary font-bold">6</div>
        </div>
    </div>
</section> 
