<section class="texto">
    <div class="text flex ml-5">
        <h3>Sou João Victor e este é meu portfólio. Possuo habilidades em design <br/>
             utilizando o pacote Adobe (Photoshop, Illustrator e After Effects), e em <br/> 
             programação front-end, criando páginas
            com HTML, CSS e JavaScript. <br/> 
            Tenho conhecimentos em PHP e Java, e experiência com o framework <br/>
            Angular. Além disso, trabalho como projetista mecânico, utilizando o <br/>
            Autodesk Inventor para modelagens e criação de produtos inovadores. <br/>
            Estou à disposição
            para colaborar em seus projetos e transformar suas<br/> 
            ideias em realidade.</h3>
    </div>
</section>