*{
    color: #FFFFFF;
    font-family: 'Raleway';
}

.ref a{
    display: flex;
}
.ref a img{
    width: 4%;
}

.links{
    font-size: 16px;
    font-weight: 500;
}
p{
    font-size: 16px;
    font-weight: 500;
}
.copy{
    margin-top: -0.5rem;
}