<section class="footeridvisual">
    <div class="ref flex justify-content-center mt-8">
        <a class="flex justify-content-end mx-4" href="https://www.instagram.com/notion.vsz/" target="_blank">
            <img src="/assets/imagens/insta.svg"/>
        </a>
         <a class="flex justify-content-start mx-4" href="https://github.com/Notiondesing" target="_blank">
            <img src="/assets/imagens/Github.svg" />
        </a> 
</div>
<div class="links flex justify-content-center flex-wrap mt-4">
<div class="flex align-items-center justify-content-center mx-4"><a>Reels</a></div>
<div class="flex align-items-center justify-content-center mx-4"><a>Públicidade</a></div>
<div class="flex align-items-center justify-content-center mx-4"><a>Identidade Visual</a></div>
<div class="flex align-items-center justify-content-center mx-4"><a>Sobre Mim</a></div>
</div> 
<div class="copy">
<p class="flex justify-content-center">© 2024 - João Pereira Portifolio</p>
</div>
</section>