<section class="navpublicidade">
    <div class="logo">
        <h1 class="flex justify-content-start ml-4">João Pereira</h1>
    </div>
        <div class="links flex justify-content-end flex-wrap mr-4">
            <div class="flex align-items-center justify-content-center m-4"><a>Reels</a></div>
            <div class="flex align-items-center justify-content-center m-4"><a>Públicidade</a></div>
            <div class="flex align-items-center justify-content-center m-4"><a>Identidade Visual</a></div>
            <div class="flex align-items-center justify-content-center m-4"><a>Sobre Mim</a></div>
        </div>
</section>
