<section class="texto">
    <div class="titulo flex justify-content-center mt-8">
        <h1 class="flex justify-content-center">Seja bem vindo ao Meu Portifólio</h1>
    </div>
    <div>
        <p class="flex justify-content-center">
            Desvende um mundo de criatividade, originalidade e impacto visual ao abrir as páginas do meu portfólio. Cada <br> 
            traço, cor e forma foi cuidadosamente concebido para elevar sua marca a novos patamares de excelência e inovação.
        </p>
    </div>
         
       
</section>
