<section class="grade">
    <div class="grid flex justify-content-center mx-6">
        <div class="col-3">
            <div>
                <!-- <img src="/assets/imagens/diamante negro V2.png" alt="" srcset=""> -->
                <p-image 
            src="/assets/imagens/diamante negro V2.png" 
            [preview]="true" 
            alt="Image" 
            width="100%" >
    </p-image>
            </div>
        </div>
        <div class="col-3">
            <div>
                <img src="/assets/imagens/dia das mãe correto.jpg" alt="" srcset="">
            </div>
        </div>
        <div class="col-3">
            <div>
                <img src="/assets/imagens/guarana.jpg" alt="" srcset="">
            </div>
        </div>
        <div class="col-3">
            <div>
                <img src="/assets/imagens/Lanche totoso.png" alt="" srcset="">
            </div>
        </div>
        <div class="col-3">
            <div>
                <img src="/assets/imagens/Macbook - Copia.jpg" alt="" srcset="">
            </div>
        </div>
        <div class="col-3">
            <div>
                <img src="/assets/imagens/CAFEE - Copia.jpg" alt="" srcset="">
            </div>
        </div>
        <div class="col-3">
            <div>
                <img src="/assets/imagens/edicao shelby.jpg" alt="" srcset="">
            </div>
        </div>
    </div>
</section>
