
<section class="navbar">
    <div class="container flex justify-content-center mt-2">
 
         <div class="navbar-texts justify-content-between flex ml-3">
             <a class="flex px-2" href="#">Projetos3D</a>
             <a class="flex px-2" href="#">Programação</a>
             <a class="flex px-2"href="#">Desing</a>

         </div>
        

         <div class="links flex justify-content-end">
            <div class="flex align-items-center justify-content-center m-4">
                <a class="insta flex justify-content-end" href="https://www.instagram.com/notion.vsz/" target="_blank">
                <img src="/assets/imagens/insta.svg"/>
            </a>
        </div>
            <div class="flex align-items-center justify-content-center m-4">
                <a class="github flex justify-content-end" href="https://github.com/Notiondesing" target="_blank">
                    <img src="/assets/imagens/Github.svg" />
                </a> 
            </div>
            <div class="flex align-items-center justify-content-center m-4">
                <a class="behance flex justify-content-end" href="https://www.behance.net/Notionvsz" target="_blank">
                    <img src="/assets/imagens/behance.svg" />
                </a> 
            </div>
            
        </div>

          <div class="circulo flex justify-content-right m-3"></div>
        
     </div> 
 
   
 
   
 </section>
 