<section class="proj">
    <h1>Projetos 3D</h1>

    <div class="cards">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="/assets/pistola.png" />
            </ng-template>
            <p>
                Pistola de ar quente...
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                    <p-button label="Save" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
</section>